<!DOCTYPE html>
<!--
Template Name: Sislaf
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<head>
<title>Join the Chain-for-Children's-Cheer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="./styles/styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" style="background-color: white;">
    <main class="hoc container clear"> 
        <p class="heading font-x2">Join the <b><font color="#0000ff">Chain-for-Children's-Cheer</font></b></p>
        <div class="content font-big1"> 
          <!-- ################################################################################################ -->
        <p>Please read the <a href="form.html#stmt">statement</a> before joining.</p><hr />
    <h1>
        <a href="/form">Register Here</a>
    </h1>
    <h1>
        <a href="/list">Click here to see registered volunteers</a>
    </h1>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
</body>
</html>
